/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 01-abr-2022, 19:16:06
    Author     : daw
*/

#anchorPane {
    -fx-background-color: white;
}

.label {
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-background-color: white;
    -fx-text-alignment: justify;
}

.listView {
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-background-color: white;
}

.txtField {
    -fx-border-color: black;
    -fx-alignment: CENTER;
}
